body {
    font-family: 'Roboto', sans-serif;
    color:  #434455;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.link {
    text-decoration: none;
}
.logo-text {
    color: #2e2f42;
}
.list {
    list-style: none;
}
.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.menu:hover {
    color: #404bbf;
}
.menu:focus {
    color: #404bbf;
}.address {
    font-style: normal;
}
.contakt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contakt:hover {
    color: #404bbf;
}
.contakt:focus {
    color: #404bbf;
}
.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}
.button:hover {
    color: #FFFFFF;
    background-color: #404BBF ;
}
.button:focus {
    color: #FFFFFF;
    background-color: #404BBF ;
}
.about {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.about-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background-color: #2e2f42;
}
.logo-tex {
    color: #f4f4fd;
}
img {
    display: flex;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.headerdiv {
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.headernav {
    display: flex;
    align-items: center;
}
.headerlist {
    display: flex;
    gap: 40px;
}
.headerlist li {
    margin-right: 40px;
}
.headerlist li:last-child {
    margin-right: 0;
}
.headermenu {
    padding: 24px 0 24px;
}
.addresslist {
    display: flex;
    gap: 40px;
}
.headerlist li {
    margin-right: 40px;
}
.headerlist li:last-child {
    margin-right: 0;
}