:root {
    color: #FFFFFF;
     color: #404bbf;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:  #FFFFFF;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.link {
    text-decoration: none;
}
.logo2 {
    color: #2e2f42;
}
.logof {
    color: #f4f4fd;
}
.list {
    list-style: none;
}
.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
}
.menu:hover {
    color:  #404bbf;
}
.menu:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}
.contakt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contakt:hover {
    color: #404bbf;
}
.contakt:focus {
    color: #404bbf;
}
.onesection {
    background-color: #2e2f42;
}
.onetitle {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff ;
    max-width: 496px;
}
.onebutton {
    background-color:#4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
}
.onebutton:hover {
    background-color: #404BBF;
}
.onebutton:focus {
    background-color: #404BBF;
}
.about {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}
.threetitle {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.foursection {
    background-color: #F4F4FD;
}
.fourtitle {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team {
    background-color: #FFFFFF;
}
.team-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background-color: #2e2f42;
}
img {
    display: block;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-content {
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.headernav {
    display: flex;
    align-items: center;
}
.head {
    display: flex;
    gap: 40px;
}
.head li {
    margin-right: 40px;
}
.head li:last-child {
    margin-right: 0;
}
.addre {
    display: flex;
    gap: 40px;
}
.addre li {
    margin-right: 40px;
}
.addre li:last-child {
    margin-right: 0;
}
.onesection {
    padding: 188px 0 188px;
}
.twosection {
    padding: 120px 0 120px;
}
.twolist {
    display: flex;
    gap: 24px;
}
.twolist li {
    margin-right: 24px;
}
.twolist li:last-child {
    margin-right: 0;
}
.twoli {
    width: calc((100% - 72px) / 4);
    flex-basis: calc((100% - 3 * 24px) / 4);
}
